<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% load static from staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Vanagoo</title>


{% block css_block %}{% endblock %}

<script src="{% static "css/jquery.min.js" %}"></script>

<link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
<link rel="stylesheet" href="{% static "css/bookcss.css" %}" />

</head>

<body >
<!-- Preloader -->
<!-- Header -->
<header class="header" role="">
	        <div class="container">

    <!-- Logo -->
    <div class="logo"> <a href="/" title="Transfers"><img src="{% static "images/logo.png" %}" alt="Vanagoo" /></a> 
    <!-- //Logo --> 
    
    <!-- Main Nav -->
    <!-- //Main Nav --> 
  </div>
</div>

</header>
<!-- //Header --> 
<div>
  {% block body_block %}empty base template{% endblock %}
</div>

<!-- //Main --> 

<!-- Footer -->
<footer>
</footer>
<!-- //Footer --> 

<!-- jQuery --> 
<script src="{% static "css/jquery.min.js" %}"></script> 
<script src="{% static "js/jquery.uniform.min.js" %}"></script> 
<script src="{% static "js/jquery.uniform.min.js" %}"></script>
<script src="{% static "js/jquery.slicknav.min.js" %}"></script> 
<script src="{% static "js/wow.min.js" %}"></script> 
<script src="{% static "js/search.js" %}"></script> 
<script src="{% static "js/scripts.js" %}"></script>
<script src="{% static "js/styler.js" %}"></script>


</body>
</html>