{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block main_block %}
<div class="main-part">
  <div u-background="lighterPurple" class="PartnersHero">
    <div u-background="purple" class="PartnersHero-header"></div> 
    <div class="Page"> 
      <div class="PartnersHero-content">
        <div class="PartnersHero-messaging">
          <h1 u-title="size:normal sm:size:larger weight:medium margin:small md:margin:normal"> Make up to ￡35/hr with your truck or cargo van </h1>
          <p u-copy="color:lighter size:large sm:size:larger lineheight:tight"> Be active, meet new people, and help others! </p>
        </div>
        <div class="PartnersHero-formWrapper" id="application">
          <div class="Well">
            <h2 u-title="size:smaller sm:size:normal color:inverse weight:normal margin:normal" u-align="center">Apply Now</h2>
            <p class="Alert Alert--success js-partner-application-success" style="display: none;"> Thanks for applying! We'll be in touch shortly. </p>
            <p class="Alert Alert--error js-partner-application-error" style="display: none;"> Something was wrong with your application. Please email us <a href="mailto:support@lugg.com">support@lugg.com</a>. </p>
            <form novalidate="" class="Form js-partner-application" data-parsley-validate="">
              <fieldset class="Form-fieldset">
                <div class="Input Input--text">
                  <input data-parsley-id="4" class="Input-input" name="name" value="" placeholder="Name" required="">
                </div>
                <div class="Input Input--text">
                  <input data-parsley-id="6" class="Input-input" pattern="\d*" x-autocompletetype="tel" name="phone_number" value="" placeholder="Phone Number" required="" type="tel">
                </div>
                <div class="Input Input--text">
                  <input data-parsley-id="8" class="Input-input" name="email" value="" placeholder="Email Address" required="" type="email">
                </div>
                <div class="Input Input--select">
                  <select data-parsley-id="10" class="Input-input" name="data[location]" required="">
                    <option value="">Where Are You Located?</option>
                    <optgroup label="SF Bay Area">
                      <option value="SF Bay Area - San Francisco">San Francisco</option>
                      <option value="SF Bay Area - South Bay (Mountain View to Santa Clara)">South Bay (Mountain View to Santa Clara)</option> 
                      <option value="SF Bay Area - Northern Peninsula (Millbrae to San Carlos)">Northern Peninsula (Millbrae to San Carlos)</option> 
                      <option value="SF Bay Area - East Bay">East Bay</option> <option value="SF Bay Area - San Leandro to Fremont">San Leandro to Fremont</option>
                      <option value="SF Bay Area - San Jose">San Jose</option>
                      <option value="SF Bay Area - Southern Peninsula (Redwood City to Palo Alto)">Southern Peninsula (Redwood City to Palo Alto)</option>
                      <option value="SF Bay Area - North Bay">North Bay</option> 
                    </optgroup>
                  </select>
                </div>
              </fieldset>
              <fieldset class="Form-fieldset">
                <ul class="SegmentedControl">
                  <li class="SegmentedControl-item">
                    <input data-parsley-id="13" data-parsley-multiple="partner_type" class="SegmentedControl-input" value="driver" name="partner_type" id="partner_type_driver" checked="" type="radio">
                    <label class="SegmentedControl-label" for="partner_type_driver">Driver</label>
                  </li>
                  <li class="SegmentedControl-item">
                    <input data-parsley-multiple="partner_type" class="SegmentedControl-input" value="helper" name="partner_type" id="partner_type_helper" type="radio">
                    <label class="SegmentedControl-label" for="partner_type_helper">Helper</label>
                  </li>
                </ul>
              </fieldset>
              <fieldset class="Form-fieldset js-partner-application-vehicle">
                <legend class="Form-legend">Vehicle</legend>
                <p class="Form-helpText">Drivers must own their own truck or cargo van. If you do not own a truck or cargo van or do not plan to use it with Lugg please apply as a helper.</p>
                <div class="InputGroup">
                  <div class="Input Input--select">
                    <select data-parsley-id="17" class="Input-input" name="data[year]" data-parsley-conditionallyrequired="[&quot;[name=partner_type]:checked&quot;, &quot;driver&quot;]" data-parsley-validate-if-empty="true">
                      <option value="">Year</option>
                      <option value="2016">2016</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                      <option value="2005">2005</option>
                      <option value="2004">2004</option>
                      <option value="2003">2003</option>
                      <option value="2002">2002</option>
                      <option value="2001">2001</option>
                      <option value="2000">2000</option>
                    </select>
                  </div>
                  <div class="Input Input--text">
                    <input data-parsley-id="19" class="Input-input" name="data[make]" value="" placeholder="Make" data-parsley-conditionallyrequired="[&quot;[name=partner_type]:checked&quot;, &quot;driver&quot;]" data-parsley-validate-if-empty="true">
                  </div>
                </div>
                <div class="Input Input--text"> <input data-parsley-id="21" class="Input-input" name="data[model]" value="" placeholder="Model" data-parsley-conditionallyrequired="[&quot;[name=partner_type]:checked&quot;, &quot;driver&quot;]" data-parsley-validate-if-empty="true">
                </div>
              </fieldset>
              <fieldset class="Form-fieldset">
                <legend class="Form-legend">Phone</legend>
                <div class="InputGroup">
                  <div class="Input Input--select">
                    <select data-parsley-id="23" class="Input-input" name="data[phone_type]" required="">
                      <option value="">Type</option>
                      <option value="iPhone">iPhone</option>
                      <option value="Android (Samsung, LG, HTC, Motorola, etc.)">Android (Samsung, LG, HTC, Motorola, etc.)</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <div class="Input Input--select">
                    <select data-parsley-id="25" class="Input-input" name="data[phone_service_provider]" required="">
                      <option value="">Service Provider</option>
                      <option value="T-Mobile">T-Mobile</option>
                      <option value="Verizon">Verizon</option>
                      <option value="AT&amp;T">AT&amp;T</option>
                      <option value="Sprint">Sprint</option>
                      <option value="MetroPCS">MetroPCS</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset class="Form-fieldset">
                <button href="javascript:void(0)" class="CTAButton CTAButton--yellow CTAButton--square CTAButton--partnerApplication js-submit-button">Apply</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock %}
