{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block main_block %}
<div>
<div class="row-fluid firstarea">
  <div class="container">

    <div class="image-above-area paddind-top3" id="our_team">

    <h2 class="margin-bottom" id="headding-center"> CONTACT US </h2>
    <h4 id="headding-center"> WE WOULD LIKE TO HEAR FROM YOU IF YOU HAVE ANY MOVING NEEDS<br>OR YOU WISH TO FIND OUT ABOUT ANY OTHER SERVICES THAT WE OFFER</h4>

    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/contact_mail.png" %}" alt=""></div>
    <h4 class="imagearea-about text-center paddind-top margin-bottom">EMAIL US</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">info@vanagoo.com</p>
    </div>
    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/contact_phone.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">GET A QUOTE</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Call us on +1 555 555 555</p>
    </div>
    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/contact_facebook.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">FOLLOW US</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">facebook.com/vanagoo</p>
    </div>
    </div>
 
  </div>
</div>
</div>
{% endblock %}