{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block main_block %}
	<!-- Main -->
	<div class="row-fluid">
		<div class="innermain" role="main">
			<img src="{% static "images/banner-terms.png" %}" alt="" >
		</div>
	</div>
		<!-- //Page info -->
		<div class="main-part faq-page">
			<h1>FAQ</h1>
			<br>
			<h2>What is Vanagoo?</h2>
						<p>Vanagoo instantly connects you to a Van and Man. Book with Vanagoo and get anything moved for you with a push of a button.</p>
						<h2>How much does a Vanagoo cost?</h2>
						<p>The base fare for the small move is £15 and the rate is calculated by time and distance. We currently charge £2.00 per driving mile, £10 per extra hands and £5.00 per each flight of stairs. If you set your pickup and dropoff addresses on the wesbite, you can see your estimate at the top of the screen before booking.</p>
						<h2>How many items are included in the quoted price?</h2>
						<p>Whatever you can fit into a desired Van size. If It can't fit into the selected Van Size, you'll need to request another Van to make sure all of your items get moved. We suggest you check with us first by calling customer services If you are not sure.</p>
						<h2>When can I request Vanagoo?</h2>
						<p>Our team of Movers are on the go 24 hours a day 7 days a week. There will be an additional charge for Out of hours service. ( 20:00 - 07:59 )</p>
						<h2>Will the movers bring my items inside?</h2>
						<p>Yes of course! The movers will pickup and drop off your items right where you want them placed - stairs or not!</p>
						<h2>How long does it take for Vanagoo to show up?</h2>
						<p>Your movers will usually arrive at the pickup location in between 15 - 60 minutes depending on Traffic and How busy We are. You'll recieve a text message with an ETA after your request.</p>
						<h2>Do I need to be at the pickup location?</h2>
						<p>Not unless you want to. Our movers will take care of picking up for you. You can relax and wait for your Vanagoo to arrive with your items! If it's a store purchase just share the reciept with the movers via text / email.</p>
						<h2>Can I have multiple pickups / dropoffs in a single Vanagoo booking?</h2>
						<p>We currently have one additional stop over option in place to. We will soon be adding a service to accommodate for multiple pickups/dropoffs.</p>
						<h2> Vanagoo help me move items within my home or from the street to my home?</h2>
						<p>Yes we can! When you request just set the pickup and drop off as the same locations and our movers will arrive to move whatever you need.</p>
						<h2>What area does Vanagoo cover?</h2>
						<p>Currently, we cover Greater London and M25 Area. You can see our ever expanding coverage area here. We will soon be operating in most areas in UK and Ireland</p>
						<h2>How do I pay for my Vanagoo booking?</h2>
						<p>All payment is done on the website. We verify your credit card when you request a Vanagoo service, and payment is processed once we fulfill the request.</p>
						<h2>Can I tip my movers?</h2>
						<p>Tipping is entirely optional, but if you want to reward your movers for a job well done, you can always tip in cash.</p>
						<h2>How do I speak with my mover(s)?</h2>
						<p>After you request, you have the ability to text or call the mover directly about any details or logistics.</p>
						<h2>Does VanagooMover disassemble/assemble my items?</h2>
						<p>A mover is only required to physically move the item from point A to point B. Movers expect the item to be appropriately packed beforehand. We will soon be offering this service at an additional cost.</p>
						<h2>Can I ride in the same vehicle as my stuff?</h2>
						<p>You will be able travel in the van depending on how many helpers you have requested since there may not be any spare seat in the type of Van requested.</p>
						<h2>What is the onboarding process for a Vanagoo mover?</h2>
						<p>All of our movers undergo criminal and motor vehicle background checks before they are allowed access to the Vanagoo system. Movers are also required to do extensive ride-along training with a Vanagoo employee before performing moves independently.</p>
						<h2>I want to be Vanagoo mover, how do I apply?</h2>
						<p>You can find out more information and apply to be a Vanagoo mover here. We will reach out to you with more information once you have applied.</p>
						<h2>When do I start / stop being charged?</h2>
						<p>You will start being charged once the service provider has parked and made contact with you. Charging stops once the last item is inside the destination property.</p>
						<h2>Is it safe to pay online?</h2>
						<p>Yes, we have acquired the services of WorldPay and PayPal who are trusted around the world.</p>
						<h2>Do my quotes include the congestion charge?</h2>
						<p>No, unfortunately there is no software available that recognizes if you are moving within or through the congestion zone. Which means a £11.50 will be added to your online quote. If you do not want to pay the congestion charge consider booking on a Weekend or after 18.00 PM on a Weekday. The Congestion charge is not applied on national holidays.</p>
						<h2>Can I make changes to my booking prior to move day?</h2>
						<p>Yes, You can make as many changes as you wish, please call your service provider directly using the contact details on your email confirmation.</p>
						<h2>Can I cancel my booking?</h2>
						<p>Yes you can cancel at any time, if you cancel with more than 48 hours to go before your booking is due to start you will get a full and immediate refund. If you cancel within 48 hours please view our cancellation policy a see how your refund will be affected.</p>
						<h2>Can I request storage for my items?</h2>
						<p>Yes you can. One of our solution partners ( Big Yellow or Safe Store ) can assist you.</p>
						<h2>Do you supply packing boxes and tape?</h2>
						<p>No, but you can request the number of boxes you require in the brief description box on the my move page then your driver will contact you to confirm your order.</p>
					
	</div>
	<!-- //Main -->
	
{% endblock %}