{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block main_block %}
<!--- //Google map -->
<div class="main-part1">
<div class="row-fluid">
  <div class="container"><br><br>
  <h1>Move Your Items With A Push Of A Button</h1><br><br>
  <div class="innermain" role="main"> <img src="{% static "images/sofa_bg.png" %}" alt="" > </div>
  </div></div>

<div class="row-fluid firstarea">
  <div class="container">

    <div class="image-above-area paddind-top3" id="our_team">

    <h2 class="margin-bottom" id="headding-center"> Using the App </h2>

    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/circle_map.png" %}" alt=""></div>
    <h4 class="imagearea-about text-center paddind-top margin-bottom">SET A PICKUP LOCATION</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Use your current location or search for an address or business.</p>
    </div>
    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/sofa.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">ADD A PHOTO</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Take a photo of the item you need moved.</p>
    </div>
    <div class="col-lg-4"><div class="imagearea-about"><img src="{% static "images/van_hiw.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">MOVERS EN ROUTE INSTANTLY</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Two movers and a Van are instantly on their way to your location.</p>
    </div>
    </div>
 
  </div>
</div>
<div class="row-fluid firstarea-white">
  <div class="container">
    <div class="image-above-area paddind-top3" id="our_team">

    <h2 class="margin-bottom" id="headding-center"> Your Stuff Moved </h2>
    <h4 id="headding-center"> In More Ways Than One </h4>


    <div class="col-lg-3"><div class="imagearea-about"><img src="{% static "images/tort_hiw.png" %}" alt=""></div>
    <h4 class="imagearea-about text-center paddind-top margin-bottom">In-Store Purchases</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">In 60 minutes or less get your things home from IKEA, Toy's R Us, Antique Auctions, Local furniture stores, and more.</p>
    </div>
    <div class="col-lg-3"><div class="imagearea-about"><img src="{% static "images/ebay.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">Ebay</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Move your Ebay purchase across town without leaving your home.</p>
    </div>
    <div class="col-lg-3"><div class="imagearea-about"><img src="{% static "images/heart_hiw.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">Donations</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Have us take your donated electronics, clothing, and other items to Charity Shops.</p>
    </div>
    <div class="col-lg-3"><div class="imagearea-about"><img src="{% static "images/musor_hiw.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">Move Your Junk</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Instantly move your pile of junk away to the nearest recycling centre.</p>
    </div>

    </div>
  </div>
  
</div>
</div>
<div class="row-fluid firstarea">
  <div class="container">
    <div class="image-above-area paddind-top3" id="our_team">

    <h2 class="margin-bottom" id="headding-center"> Here For You </h2>
    <h4 id="headding-center"> We've got your back </h4>


    <div class="col-lg-6"><div class="imagearea-about"><img src="{% static "images/shit_hiw.png" %}" alt=""></div>
    <h4 class="imagearea-about text-center paddind-top margin-bottom">Your Stuff Is Protected</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Vanagoo covers your items up to 100% of the value if our movers are responsible for any damages.</p>
    </div>
    <div class="col-lg-6"><div class="imagearea-about"><img src="{% static "images/lorry_hiw.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">Our Movers and Trucks</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Our movers are professionally trained and vetted for quality. The inventory of our Vehicles consist of Small Connect Van to a Luton Van.</p>
    </div>
    </div>
    <div class="image-above-area paddind-top1" id="our_team">
    <div class="col-lg-6"><div class="imagearea-about"><img src="{% static "images/telezhka_hiw.png" %}" alt=""></div>


    <h4 class="imagearea-about text-center paddind-top margin-bottom">Don’t Move An Inch</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Vanagoo experience means that you never have to lift a finger, except to press “Book A Vanagoo Mover ”! Every Vanagoo booking comes with A man and a Van , so you get to sit back, relax, and not even think about doing any of the labor unless you want to of course.</p>
    </div>
    <div class="col-lg-6"><div class="imagearea-about"><img src="{% static "images/molniya_hiw.png" %}" alt=""></div>

    <h4 class="imagearea-about text-center paddind-top margin-bottom">Ready When You Are</h4>
    <span class="subtitle-about text-center"></span>
    <p class="text-center">Vanagoo is always ready to help you move, so there is no need to schedule in advance. Our ETA’s range from 15-60 minutes, so you aren’t left waiting for hours wondering where your movers are.</p>
    </div>

    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="container">
  <span class="worked-sman paddind-top1 paddind-bottom">
  <p class="text-center">It's that simple, take the stress out of finding a transport company, post a job now!</p><a href="/" class="btn large color wow fadeInRight anchor animated">Get Free Quotes</a></span></div></div>
<!-- //Main --> 
</div>
{% endblock %}
