{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block home_mark_block %}class="home"{% endblock %}

{% block main_block %}
<!-- Main -->
<main class="main" role="main"> 
  <!-- Intro -->
  <div class="intro">
    <div class="wrap">
      <div class="textwidget">
	    <br><br><br>
        <h1 class="wow fadeInDown">ON DEMAND VAN AND MAN</h1>
        <h2 class="wow fadeInUp">MOVING & DELIVERY WITH THE PUSH OF A BUTTON </h2>
        <div class="advanced-search color" id="booking">
          <div class="wrap">
            <form role="form" action="/index" method="post" id="next-page">
              {% if errors %}

							{{ errors }}

                            <hr>
                            {% endif %}

              <!-- Row -->
              <div class="f-row">
                <div class="form-group datepicker one-fourth1">
                  <label for="dep-date">Departure date time</label>
                  {% csrf_token %}
                  <input type="text" id="dep-date" name="datetime" />
                </div>
                <div class="form-group datepicker one-fourth1">
                  <label for="dep-date">Collection Postcode</label>
                  <input name="from_postcode" type="text" id="dep-from" />
                </div>
                <div class="form-group datepicker one-fourth1">
                  <label for="dep-date">Delivery Postcode </label>
                  <input name="to_postcode" type="text" id="dep-to" />
                </div>
                <div class="col-lg-3 form-group datepicker margin-top-button one-sixth">
                  <button type="submit" class="btn large black">GET A QUOTE</button>
                </div>
              </div>
              
              <!-- //Row --> 
              
              <!-- Row --> 
              
              <!--// Row -->

            </form>
                      </div>
        </div>
        <div class="actions"> <a href="index.html#services" title="Our services" class="btn large white1 wow fadeInLeft anchor">LOG IN</a> <a href="index.html#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">SIGN UP </a> </div>
      </div>
    </div>
  </div>
  <!-- //Intro --> 
  
  <!-- Search -->

  <!-- //Search --> 
  
  <!-- Services iconic -->
  <div class="services iconic white">
    <div class="wrap">
      <div class="row"> 
        <!-- Item -->
        <div class="one-third wow fadeIn"> <span class="circle"><span class="ico pig"></span></span>
          <h3>Fixed rates</h3>
          <p>All Our rates are fixed so there are no hidden charges and You will always know in advance what you will be paying when your journey is complete.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s"> <span class="circle"><span class="ico lock"></span></span>
          <h3>Reliable Transport</h3>
          <p>We have the latest model fleet with full insurances including Public Liability Insurance and Goods in transit insurance which protects your goods up to £50.000 during transport.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s"> <span class="circle"><span class="ico wallet"></span></span>
          <h3>No booking fees</h3>
          <p>At Vanagoo We do not charge any booking fees or commission. Most Transport booking websites charge hefty commissions without even telling you because they call it a deposit.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn"> <span class="circle"><span class="ico heart"></span></span>
          <h3>Free cancellation</h3>
          <p>You can cancel your booking up to 48 hours before by giving us a simple notice. </p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s"> <span class="circle"><span class="ico wand"></span></span>
          <h3>Booking flexibility</h3>
          <p>Vanagoo makes moving so easy that You can pre book your move If you like planning ahead although Our most popular service is On Demand Booking for last minute transport needs.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s"> <span class="circle"><span class="ico telephone"></span></span>
          <h3>24h customer service</h3>
          <p>We offer excellent customer service to make sure Your move goes as smoothly as possible. Our 24/7 hard working agents will be available with just a phone call away or an online chat.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn"> <span class="circle"><span class="ico award"></span></span>
          <h3>Award winning service</h3>
          <p>We have been awarded the " Innovation of the year " in 2016 by Which Magazine.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s"> <span class="circle"><span class="ico clip"></span></span>
          <h3>Benefits for partners</h3>
          <p>Our Partners have the benefit of working with a professional company in a amazing environment. We offer regular bonuses, over time and holidays to make sure Our customers gets 100% satisfaction from their movers.</p>
        </div>
        <!-- //Item --> 
        
        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s"> <span class="circle"><span class="ico shuttle"></span></span>
          <h3>Quality vehicles</h3>
          <p>All our vehicles are provided by Ford Commercial and We use latest models. We do not allow Vans older than 5 years old to enter the fleet.</p>
        </div>
        <!-- //Item --> 
      </div>
    </div>
  </div>
  <!-- //Services iconic --> 
  
  <!-- Call to action --> 
  
  <!-- //Call to action --> 
  
  <!-- Services -->
  <div class="services boxed white" id="services"> 
    <!-- Item -->
    <article class="one-fourth wow fadeIn">
      <figure class="featured-image"> <img src="{% static "images/small_van.jpg" %}" alt="" />
        <div class="overlay"> <a href="" class="expand">+</a> </div>
      </figure>
      <div class="details">
        <h4><a href="">SMALL VAN</a></h4>
        <p>The Small Van is most commonly used for luggage and parcel transfers, Small vans can hold up to 8 packed suitcases. The perfect Van size for 1 persons luggage and easy parking.</p>
        <a class="more" title="Read more" href="">Read more</a> </div>
    </article>
    <!-- //Item --> 
    
    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".2s">
      <figure class="featured-image"> <img src="{% static "images/mwb.jpg" %}" alt="" />
        <div class="overlay"> <a href="" class="expand">+</a> </div>
      </figure>
      <div class="details">
        <h4><a href="">MEDIUM VAN</a></h4>
        <p>The Medium Van offers a usefully Large load area without being much longer or wider than a large car. The perfect solution for transporting two peoples belongings or sofa collections.</p>
        <a class="more" title="Read more" href="">Read more</a> </div>
    </article>
    <!-- //Item --> 
    
    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".4s">
      <figure class="featured-image"> <img src="{% static "images/xlwb_van.jpg" %}" alt="" />
        <div class="overlay"> <a href="" class="expand">+</a> </div>
      </figure>
      <div class="details">
        <h4><a href="">LARGE VAN</a></h4>
        <p>The LWB High Top Van offers a larger internal load space than any other panel van on the road and comes with a side loading door allowing for easy loading..</p>
        <a class="more" title="Read more" href="">Read more</a> </div>
    </article>
    <!-- //Item --> 
    
    <!-- Item -->
    <article class="one-fourth wow fadeIn" data-wow-delay=".6s">
      <figure class="featured-image"> <img src="{% static "images/luton_van.jpg" %}" alt="" />
        <div class="overlay"> <a href="" class="expand">+</a> </div>
      </figure>
      <div class="details">
        <h4><a href="http://demo.essarweb.com/vanagoo/services.html">XLARGE VAN </a></h4>
        <p>The Luton Van is the champion of 3 Bedroom Flat/House removals, Office relocation's and Heavy item moves.The Luton Van provides superb flexibility for bulky..</p>
        <a class="more" title="Read more" href="">Read more</a> </div>
    </article>
    <!-- //Item --> 
  </div>
  <!-- //Services --> 
  
  <!-- Testimonials -->
  <div class="testimonials center blue-light">
    <div class="wrap">
      <h6 class="wow fadeInDown">Wow, this venture is outstanding!</h6>
      <p class="wow fadeInUp">It’s now over 10 years since the first episode of Dragons’ Den aired on British TV screens and in that time we’ve seen some brilliant, and not so brilliant, businesses pass through the Den.<br>Vanagoo seems to be the most clever and useful idea since the first day of airing the show</p>
      <p class="meta wow fadeInUp">-John Doe</p>
    </div>
  </div>
  <!-- //Testimonials -->
  
  <div class="partners white center">
    <div class="wrap">
      <h2 class="wow fadeIn">Our partners</h2>
      <div class="one-fifth wow fadeIn"><a href="index.html#"><img src="{% static "images/selfstore_logo.jpg" %}" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="index.html#"><img src="{% static "images/cow_logo.jpg" %}" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="index.html#"><img src="{% static "images/ford_logo.jpg" %}" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="index.html#"><img src="{% static "images/byss_logo.jpg" %}" alt="" /></a></div>
      <div class="one-fifth" data-wow-delay=".8s"><a href="index.html#"><img src="{% static "images/wework_logo.jpg" %}" alt="" /></a></div>
    </div>
  </div>
  
  <!-- Call to action -->
  
  <!-- //Call to action --> 
</main>
<!-- //Main --> 

{% endblock %}
{% block js_block %}
<script src="{% static "js/bootstrap.js" %}"></script> 
<script src="{% static "js/jquery.datetimepicker.js" %}"></script> 
<script src="{% static "js/date_default.js" %}"></script>

{% endblock %}
