{% extends 'basevanandman.html' %}
{% load static from staticfiles %}

{% block css_block %}
{% endblock %}

{% block main_block %}
<div class="innermain" role="main"> 

  <img src="{% static "images/banner-terms.png" %}" alt="" >

  
  </div>
		<!-- //Page info -->
		
		<div class="main-part">
		<div class="wrap">
			<div class="row">				
				<!--- Content -->
				<div class="three-fourth content">
					<!-- Post -->
					<article class="single hentry">
						<div class="entry-featured">
							<img src="{% static "images/ukmap.png" %}" alt="" />
						</div>
						
					</article>
					<!-- //Post -->
				</div>
				<!--- //Content -->
				
				<!--- Sidebar -->
				<aside class="one-fourth sidebar right">
					<!-- Widget -->
					
					<!-- //Widget -->
					
					<!-- Widget -->
					
					<!-- //Widget -->
					
					<!-- Widget -->
					<div class="widget">
						<h4>Advertisment</h4>
						<a href="service-area.html#"><img src="{% static "images/uploads/advertisment.jpg" %}" alt="" /></a>
					</div>
					<!-- //Widget -->
					
					<!-- Widget -->
					<div class="widget">
						<h4>Need help booking?</h4>
						<div class="textwidget">
							<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs.</p>
							<p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
						</div>
					</div>
					<!-- //Widget -->
				</aside>
				<!--- //Sidebar -->
			</div>
		</div></div>
	</main>
	<!-- //Main -->
{% endblock %}